NODE_ENV=development
PORT=3000
MONGODB_URI=mongodb://localhost:27017/banco
MONGODB_URI_PROD=mongodb+srv://user:password@cluster.mongodb.net/banco
CORS_ORIGIN=http://localhost:4200

DEEPSEEK_API_KEY=
GEMINI_API_KEY=